@import './norm';


.header{
    &__top{
        background: #0A0A0B;
        min-height: 100vh;
    }
    &__nav{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        margin-bottom: 93px;
    }
    &__menu{
        display: flex;
        gap: 48px;
    }
    &__foot-nav{
        text-align: center;
        margin-top: 93px;
    }
    &__name-1{
        font-weight: 600;
        font-size: 36px;
        line-height: 140%;
        margin-bottom: 20px;
    }
    &__name-2{
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        margin-bottom: 20px;
    }
    &__lol{
        margin-bottom: 48px;
        span {
            color: #BABEC4;
        }
    }
    &__box-1-nav-menu{
        display: flex;
        margin-top: 48px;
        gap: 150px;
        justify-content: center;
    }
    &__box-1-nav{
        align-items: center;
    }
    &__box-1-nav-text{
        color: #BABEC4;
    }
    &__box-1-nav-name{
        margin-bottom: 10px;
    }
    &__box-1-nav-img{
        margin-bottom: 10px;
    }
}

.pro{
    &__top{
        background: #0A0A0B;
        min-height: 90vh;
    }
    &__box-1{
        background-image: url(./images/pro.png);
        background-repeat: no-repeat;
        height: 350px;
        display: flex;
        align-items: flex-end;
    }
    &__box-1-1{
        text-align: center;
        margin-left: 285px;
        width: 197px;
        height: 104px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        border-radius: 20px;

    }
    &__win{
        display: flex;
        gap: 88px;
    }
    &__box-2{
        margin-top: 50px;   
        margin-bottom: 88px;
    }
    &__name{
        margin-bottom: 24px;
        font-weight: 100;
        font-size: 30px;
    }
    &__text{
        margin-bottom: 48px;
        font-style: normal; 
        font-weight: 400;
        font-size: 16px;
        color: #BABEC4;
        line-height: 140%;
    }
    &__box-3-name{
        margin-top: 20px;
    }
    &__btn{
        width: 149px;
        height: 50px;   
        background: #4177DC;
        border-radius: 4px;
    }
}



.do{
    &__top{
        background: #0A0A0B;
    }
    &__name{
        display: flex;
        justify-content: center;
        margin-bottom: 64px;
    }
    &__slider{
        display: flex;
        gap: 150px;
    }    
    &__slider-1{
        display: block;
        width: 258px;
        text-align: left;
        padding-top: 38px;
        padding-left: 25px;
        height: 328px;
        background: #111213;
        border-radius: 20px;
        margin-bottom: 176px;
    }
    &__slider-text{
        margin-bottom: 12px;
    }
    &__slider-img-2{
        margin-bottom: 20px;
    }
    &__slider-img-1{
        margin-bottom: 31px;
    }
    &__slider-btn{
        background: #4177DC;
        border-radius: 20px 0px;
        width: 56px;
        height: 48px;
        display: flex;
        margin-left: 175px;
        justify-content: center;
        align-items: center;
    }
}

.big{
    &__top{
        background: #0A0A0B;
        min-height: 100vh;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__slider{
        display: block;
    }
    &__name{
        display: flex;
        justify-content: center;
        margin-bottom: 139px;
    }
    &__slider-1{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        width: 127px;
        height: 92px;
        display: block;
        text-align: center;
        padding-top: 20px;
    }
    &__slider-2{
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(8px);
        border-radius: 20px;
        width: 127px;
        height: 92px;
        margin-left: 250px;
        display: block;
        text-align: center;
        padding-top: 20px;
    }
}

@media  (max-width: 1300px){
    .do__slider{
        gap: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__menu{
        gap: 20px;
    }
    .header__nav{
        justify-content: space-around;
    }
    .pro__box-1{
        margin-left: 150px;
    }
    .pro__win{
        display: block;
        // text-align: center;
        gap: 88px;
        padding-top: 50px;
    }
}
@media (max-width: 900px){
    .pro__win{
        display: block;
        text-align: center;
        gap: 88px;
        padding-top: 50px;
    }
    .pro__box-1{
        margin-left: 150px;
    }
    .pro__name{
        width: 800px;
    }
}